

<div class ="main user-show">
	<div class ="container">

		<div class ="user">
			<img src= "<%= "/user_images/#{@user.image_name}" %>" >
			<h2><%= @user.name %></h2>
			<p><%= @user.email %></p>
			<div class ="user-edit-bottun">
				<% if @user.id == @current_user.id %>
				<%= link_to("編集","/users/#{@user.id}/edit") %>
				<% end %>
			</div>
		</div>

		<% @user.posts.each do |post| %>
		<div class="posts-index-item">
			
			<div class = "user-left" >
				<img src= "<%= "/user_images/#{@user.image_name}" %>" >
			</div>
			
			<div class ="user-right" >
				<div class ="post-user-name">
				<%= link_to(@user.name,"/users/#{@user.id}") %>
			 </div>
				<%= link_to(post.content,"/posts/#{post.id}") %>
			</div>


		</div>
		<% end %>


	</div>
</div>

